.control-panel__moves-history {
  width: 100%;
  height: 442px;
  border-bottom: 1px solid #999;
}

.control-panel__moves-history__list {
  height: 100%;
  margin: 0;
  overflow-y: auto;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.control-panel__moves-history__list__item {
  padding-left: 15px;
}

.control-panel__moves-history__list__item-value:first-child {
  margin-right: 35px;
}

.control-panel__moves-history__list__item-value {
  display: inline-block;
  width: 30px;
  font-size: 25px;
  cursor: pointer;
  user-select: none;
}

.control-panel__moves-history__list__item-value--active {
  font-weight: bold;
  text-decoration: underline;
}
