.board-column {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  font-size: 60px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.board-column__navigation {
  position: absolute;
  bottom: 3px;
  right: 7px;
  z-index: 2;
  font-size: 17px;
}

.board-column--active {
  background-color: rgb(164, 184, 196) !important;
}
