.board {
  border: 1px solid #999;
  border-spacing: unset;
}

.board tr:nth-child(odd) td:nth-child(even) {
  background: #999;
}

.board tr:nth-child(even) td:nth-child(odd) {
  background: #999;
}

.board td {
  width: 80px;
  height: 80px;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
