.board {
  display: flex;
  width: 640px;
  height: 640px;
  flex-wrap: wrap;
  border: 1px solid #999;
  border-spacing: unset;
}

.board div:nth-child(odd) div:nth-child(even) {
  background: #d3d3d3;
}

.board div:nth-child(even) div:nth-child(odd) {
  background: #d3d3d3;
}
