.control-panel {
  height: 640px;
  width: 398px;
  border: 1px solid #999;
  display: flex;
  justify-content: flex-start;
}

.control-panel__current_player {
  width: inherit;
  font-size: 35px;
  text-align: center;
}
