.board {
  display: flex;
  width: 640px;
  height: 640px;
  flex-wrap: wrap;
  border: 1px solid #999;
  border-spacing: unset;
}

.board__square {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  font-size: 70px;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  user-select: none;
}

.board__square--figure {
  line-height: 70px;
}

.board__square--active {
  background: rgb(164, 184, 196) !important;
}

.board__square--movable {
  cursor: pointer !important;
}

.board__square--navigation {
  position: absolute;
  bottom: 4px;
  right: 7px;
  font-size: 20px;
}
