.board {
  display: flex;
  width: 640px;
  height: 640px;
  flex-wrap: wrap;
  border: 1px solid #999;
  border-spacing: unset;
}

.board .board__row:nth-child(even) .board__cell:nth-child(odd) {
  background: #d3d3d3;
}

.board .board__row:nth-child(odd) .board__cell:nth-child(even) {
  background: #d3d3d3;
}

.board__cell {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  font-size: 70px;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  user-select: none;
}

.board__cell--figure {
  line-height: 70px;
}

.board__cell--active {
  background: rgb(164, 184, 196) !important;
}

.board__cell--movable {
  cursor: pointer !important;
}

.board__row {
  position: relative;
}

.board__row--navigation {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  font-size: 15px;
}

.board__cell--navigation {
  position: absolute;
  bottom: 4px;
  right: 7px;
  font-size: 20px;
}
