.App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cursor-default {
  cursor: default !important;
}

.btn {
  height: 40px;
  border: 1px solid #999;
  background-color: #d3d3d3;
  border-radius: 5px;
  cursor: pointer;
}
